<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /nav-history
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /nav-history/index.html [L]
</IfModule>
